<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<title>Google Map</title>
</head>
<style type="text/css">
	#map{
		height: 99%;
	}
	html , body {
		height: 100%;
	}
	 #floating-panel {
        position: absolute;
        top: 550px;
        left: 1%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }

</style>
<body onload="myfunction();">
<div id="floating-panel">
			<input type="button" value="จับพิกัด" name="btn" class="btn btn-success" id="getdirection" />
			<button class="btn btn-outline-primary" onclick="goBack()">ย้อนกลับ</button>
<a class="btn btn-secondary" href="{% url 'home' %}" role="button">กลับหน้าแรก</a>
<a href = "https://www.google.com/maps/dir/?api=1&origin{{temple.lat_me}}, {{temple.log_me}}=&destination={% block temple %}
		{{temple.latitude}},
		{{temple.Longitude}}
		{% endblock %}&travelmode="
	</div>
</div>
<div id="map">
</div>
</body>
</html>
<script type="text/javascript">
	function myfunction(){
		var map;
		var me = new google.maps.LatLng( {{temple.lat_me}}, {{temple.log_me}});
		var to = new google.maps.LatLng({% block temple %}
		{{temple.latitude}},
		{{temple.Longitude}}
		{% endblock %});
		var option ={
			zoom : 10,
			center : me 
		};
		map = new google.maps.Map(document.getElementById('map'),option);
		var display = new google.maps.DirectionsRenderer();
		var services = new google.maps.DirectionsService();
		display.setMap(map);
		function calculateroute(){
			var request ={
				origin : me,
				destination: to,
				travelMode: 'DRIVING'
			};
			services.route(request,function(result,status){
				//console.log(result,status);
				if(status =='OK'){
					display.setDirections(result);
				}
			});
		}
		document.getElementById('getdirection').onclick= function(){
			calculateroute();
		}
	}
</script>
<!-- google map api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPr8A6Vo8Yjw2q1XCeD8wugso11614GKk&libraries=places"></script>
<script>
function goBack() {
  window.history.back();
}
</script>