{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}

<form action="" method="POST">
{% csrf_token %}
<div class="active-pink-3 active-pink-4 mb-4">
    <input class="form-control" type="text" placeholder="ค้นหา" name='name' aria-label="Search">
    <div class="dropdown-divider"></div>
  </div>
  <div class="dropdown-divider"></div>
  <p>เลือกประเภทวัด</p>
  {% for Category_obj in Category %}
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="type" id="type" value="{{Category_obj.id}}">
    <label class="form-check-label" for="inlineRadio1">{{Category_obj.name}}</label>
  </div>
  {% endfor %}
  <div class="dropdown-divider"></div>
  <CENTER><input type="submit"  class="btn btn-primary btn-lg btn-block" value="ค้นหา"></CENTER>
</form>

<div class="dropdown-divider"></div>
<div class="dropdown-divider"></div>
<div class="container">
  <div class="row">
{% for temple_obj in temples %}
<div class="dropdown-divider"></div>
<div class="col-sm">
<div class="card mb-4">
  <img class="card-img-top" src="{{temple_obj.image.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{temple_obj.name}}</h5>
    <p class="card-text">{{temple_obj.Monk}}</p>
    <a href="#" class="btn btn-primary">เพิ่มเติม</a>
  </div>
</div>
</div>
{% endfor %}
</div>
</div>


{% endblock %}