{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 14.9546214, lng: 103.8443174};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
  var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            var locations = [
            {lat: -31.563910, lng: 147.154312},
            ]
}
    </script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtOeCui99jYwAViV_5f5ZF2u0pI8c4VhA&callback=initMap">
    </script>
  </body>
  
</html>

{% endblock %}