{% extends 'base.html' %}

{% block content %}
  {% block temple %}
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <body onload="getLocation()">
  <div class="container">
    <CENTER>
    <h2>{{temple.name}}</h2>
  </CENTER>
    <CENTER>
    <img class="img-fluid" src="{{temple.image.url}}" alt="Responsive image" >
  </CENTER>
    <hr class="sidebar-divider">
     {% for cat in temple.Category.all %}
     <p>ประเภทของวัด</p>
    <p>{{cat.name}}</p>
    {% endfor %}
    <p>พระเกจิ : {{temple.Monk}}</p>
    <P>รายละเอียด</p>
    <p>{{temple.Details}}</p>
     <p>{{temple.Detailsa}}</p>
      <p>{{temple.Detailsb}}</p>
      <p>ละติจูด :{{temple.latitude}}</p>
      <p>ลองติจูด :{{temple.Longitude}}</p>
    <br>
  <div class="container">
  <div class="row">
<form method="post" action="{% url 'GetDirection' temple.id %}">
    {% csrf_token %}  
    <input type="hidden" name="latitude" id="latitude" value="">
    <input type="hidden" name="longitude" id="longitude" value="">
    <input type="hidden" name="temple_id" value="{{temples_id}}">
    <input type="submit" value="ขอเส้นทาง" class="btn btn-outline-primary">
</form>
&ensp;
<button class="btn btn-outline-secondary" onclick="goBack()">ย้อนกลับ</button>
    {% comment %} <a class="btn btn-outline-success" href="{% url 'Results' %}" role="button">กลับ</a> {% endcomment %}
</div>
</div>
<br>

  </div>
  </body>
<script>
function goBack() {
  window.history.back();
}
</script>

 
  
    <script>
      var lat = document.getElementById("latitude");
      var long = document.getElementById("longitude");

      function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else { 
              x.innerHTML = "Geolocation is not supported by this browser.";
          }
      }

      function showPosition(position) {
          lat.value = position.coords.latitude;
          long.value = position.coords.longitude;
      }
  </script>
 {% endblock %}
{% endblock %}