{% extends 'base.html' %}

{% block content %}
  {% block temple %}
  
  <div class="container">
    <CENTER>
    <h2>{{temple.name}}</h2>
  </CENTER>
    <CENTER>
    <img class="img-fluid" src="{{temple.image.url}}" alt="Responsive image" >
  </CENTER>
    <hr class="sidebar-divider">
    <p>พระเกจิ {{temple.Monk}}</p>
    <p>{{temple.Details}}</p>
    <CENTER>
    <a href="{% url 'wap' %}" class="btn btn-info btn-lg" role="button">กลับ</a>
    <a href="{% url 'map' %}" class="btn btn-success btn-lg" role="button">ขอเส้นทาง</a>
  </CENTER>
  </div>
 {% endblock %}
{% endblock %}