{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 400px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
  </style>
</head>

<body>
  <!--The div element for the map -->
  <div id="map"></div>
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var uluru = { lat: 14.9546214, lng: 103.8443174 };
      // The map, centered at Uluru
      var map = new google.maps.Map(
        document.getElementById('map'), { zoom: 10, center: uluru });
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({ position: uluru, map: map });

    }
  </script>
  <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPr8A6Vo8Yjw2q1XCeD8wugso11614GKk&callback=initMap">
  </script>
</body>
<br>
<a href="{% url 'multiplepoint' %}" class="btn btn-info" role="button">วัดแต่ละจุด</a>
<a href="{% url 'multiplepoint_route' %}" class="btn btn-info" role="button">วัดที่ใกล้ที่สุด</a>



</html>
{% endblock %}